DATABASE_URL=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PASSWORD_RESET_TOKEN_SECRET=
VERIFICATION_TOKEN_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_TTS_KEY=

SEND_MAIL_USER=
SEND_MAIL_PASS=

WEB_URL=